<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>fields</key>
			<array>
				<dict>
					<key>label</key>
					<string>First name:</string>
					<key>type</key>
					<string>textInput</string>
					<key>boundProperty</key>
					<string>firstName</string>
					<key>rowHeight</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>label</key>
					<string>Last name:</string>
					<key>type</key>
					<string>textInput</string>
					<key>boundProperty</key>
					<string>lastName</string>
					<key>rowHeight</key>
					<integer>44</integer>
				</dict>
            </array>
        </dict>
        <dict>
			<key>fields</key>
            <array>
				<dict>
					<key>label</key>
					<string>Company name:</string>
					<key>type</key>
					<string>textInput</string>
					<key>boundProperty</key>
					<string>company</string>
					<key>rowHeight</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>label</key>
					<string>Title:</string>
					<key>type</key>
					<string>textInput</string>
					<key>boundProperty</key>
					<string>title</string>
					<key>rowHeight</key>
					<integer>44</integer>
				</dict>
            </array>
        </dict>
        <dict>
			<key>fields</key>
            <array>
				<dict>
					<key>label</key>
					<string>Email:</string>
					<key>type</key>
					<string>textInput</string>
					<key>boundProperty</key>
					<string>email</string>
					<key>rowHeight</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>label</key>
					<string>Phone:</string>
					<key>type</key>
					<string>textInput</string>
					<key>boundProperty</key>
					<string>phone</string>
					<key>rowHeight</key>
					<integer>44</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
